
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: scale(.98);
    }
    35% {
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}
@keyframes height {
    from { transform: translateY(-100%); transform-origin: top; top: -100%; position: relative; height: 0; }
    to { transform: translateY(0); transform-origin: top; top: 0; position: relative; height: 800px; }
}
.paris-2015-special {
    -webkit-font-smoothing: antialiased;
    background-color: #101010;
    background-image: url("https://i2.cdn.turner.com/cnn/2015/images/11/16/background.jpg");
    background-position:top center;
    background-repeat: no-repeat;
    background-size: 200%;
    color: #d9d9d9;
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
    font-family: "Helvetica Neue";
    font-weight: 400;
    padding: 2rem 2rem 0;
    animation: .5s ease-in-out .5s 1 normal backwards running height, 1s ease-in-out 1s 1 normal backwards running fadeIn;
    overflow: hidden;
}
.special-link {
    color: inherit;
    text-decoration: inherit;
}
.special-link:hover {
    color: inherit;
}
.paris-logo {
    animation: 2s ease-in-out 1s 1 normal both running slideIn;
    display: block;
    height: 116px;
    margin: 0 auto;
    padding: 0 0 2rem;
    text-align: center;
    width: 75px;
}
.title {
    animation: 2s ease-in-out 1s 1 normal both running slideIn;
    font-size: .6em;
    padding: 0 0 2rem;
    text-align: center;
    text-transform: uppercase;
}
.title__in-memoriam {
    font-size: 1.55em;
    font-weight: 200;
    letter-spacing: .4em;
}
.title__paris-attacks {
    color: #fefefe;
    font-size: 1.6em;
    letter-spacing: .15em;
}
.title__etch {
    background: #868686;
    display: inline-block;
    height: 1px;
    left: -.15em;
    margin: 0 1em;
    position: relative;
    top: -.25em;
    width: 20px;
}
.title__etch:nth-child(odd) {
    margin-left: 0;
}
.title__etch:nth-child(even) {
    margin-right: 0;
}
.victims-intro {
    animation: 3.5s ease-in-out 1.02s 1 normal both running slideIn;
    font-size: 1.15em;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem 3rem;
    text-align: center;
}
.list-name {
    list-style: none;
    margin: 0 auto;
    max-width: 1050px;
    padding: 0 0 3rem;
    text-align: center;
}
.name {
    font-size: .9em;
    font-weight: 500;
    letter-spacing: .06em;
    margin: 1rem 1rem;
    text-transform: uppercase;
}
.name:nth-child(2n) {
    animation: 2.5s ease-in-out 2.35s 1 normal both running fadeIn;
}
.name:nth-child(2n+1) {
    animation: 2s ease-in-out 2.25s 1 normal both running fadeIn;

}
.name:nth-child(5n-2) {
    animation: 2.5s ease-in-out 2.15s 1 normal both running fadeIn;
}
.name:nth-child(5n) {
    animation: 3.0s ease-in-out 2.05s 1 normal both running fadeIn;

}
.name:nth-child(10n-6) {
    animation: 2.5s ease-in-out 1.95s 1 normal both running fadeIn;

}
.name:nth-child(10n-3) {
    animation: 3.5s ease-in-out 1.85s 1 normal both running fadeIn;

}
.name:nth-child(10n) {
    animation: 3.5s ease-in-out 1.75s 1 normal both running fadeIn;

}
.credit {
    color: #737373;
    font-size: .9em;
    font-style: italic;
    font-weight: 300;
    letter-spacing: .05em;
    padding: 2rem 0;
    text-align: center;
}
.credit__link {
    color: #006598;
    text-decoration: none;
}
.credit__divider {
    border-top: 1px solid #737373;
    width: 100px;
    border-bottom: none;
}
@media (min-width: 640px) {
    .paris-2015-special {
        background-size: contain;
    }
    .paris-logo {
        width: 100px;
        height: 144px;
    }
    .title {
        font-size: 1em;
    }
    .title__in-memoriam {
        font-size: 1.3em;
    }

    .title__etch {
        margin: 0 1.5rem;
        width: 60px;
    }
    .victims-intro {
        font-size: 1.5em;
        font-weight: 200;
        line-height: 1.25;
        padding: 0 5rem 3rem;
    }
    .name {
        display: inline-block;
        font-size: 1.125em;
    }
}