body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Fallback font */
}

.Part2 {
  background-color: #0a0a0a;
  height: 1000px;
  position: relative;
}

.Container1 {
  position: absolute;
  top: 25vh;
  left: 13vw;
  color: white;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.Container1 .Button, .Container1 .Item1, .Container1 .Item2, .Container1 .Item3, .Container1 .Item4 {
  padding-left: 5px;
  border: 2px solid black;
}

.Container1 .Button:hover {
  padding-left: 5px;
  border: 3px solid transparent;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 8px silver;
  animation: anime 10s linear infinite iteration-count direction fill-mode;
}

.Container1 .Button {
  background-color: #0a0a0a;
  font-size: smaller;
  border: 1px solid white;
  width: 60px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: -3vh;
  right: 0;
  transition: all 0.5s ease; /* Add smooth transition */
}

.Container1 .Button:hover {
  background-color: #0a0a0a;
  font-size: smaller;
  border: 0.5px solid green;
  width: 60px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: -3vh;
  right: -10px;
  color: rgb(53, 255, 53);
  cursor: pointer;
}

.Item1, .Item2, .Item3, .Item4 {
  width: 17vw;
  height: 20vh;
  display: inline-flex;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 23px;
}

.Item1 {
  background-image: linear-gradient(to bottom right, #208cd4, #52d2f3);
}

.Item2 {
  background-image: linear-gradient(to bottom right, #3d9682, #57d0ba);
}

.Item3 {
  background-image: linear-gradient(to bottom right, #d59434, #fabc4b);
}

.Item4 {
  background-image: linear-gradient(to bottom right, #da434e, #f27581);
}
